:root{
    --text-color: rgb(255, 255, 255);
}
html{
    color: var(--text-color);
    background-image: linear-gradient(rgba(53, 92, 125, 0.8), 
    rgba(108, 91, 123, 0.7), 
    rgba(192, 108, 132, 0.7)),
    url("../imgs/dev.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 2px black;
}
.header{
    text-align: center;
    font-size: 18px;;
}
h1{
    display: flex;
    justify-content: center;
    color: var(--text-color);
    letter-spacing: 8px;
    font-weight: 300;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin: 0.1em 0;
}
button{
    padding: 0.5em 3.5em;
    color: var(--text-color);
    background-color: rgb(65, 199, 65);
    border: none;
    text-align: center;
    width: 40%;
    border-radius: 8px;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    display: block;
    margin: 0 auto;
}
form{
    width: 80%;
}
button:hover{
    background-color: rgb(14, 160, 14);    
}
button:active{
    background-color: rgb(94, 172, 94);    

}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea{
    display: flex;
    margin: 0.5em 2em;
    border: none;
    border-radius: 16px;
    padding: 0.5em 1em;
    font-size: 14px; 
    background-color: rgb(202, 198, 198);  
    color: rgb(90, 88, 88);
    width: 80%;
}
input:focus, textarea:focus{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    outline: none;
}
fieldset{
    margin: 1em 2em;
}
.align{
    margin: 0.25em 2em;

}
.space{
    margin-top: 1em;
    margin-bottom: 1em;
}
#heading{
    display: flex;
    justify-content: center;
    font-weight: 300;
    color: var(--text-color);
    letter-spacing: 5px;
    font-style: italic;
}
#name-label, #email-label, #number-label, #age-label{
    margin: 0 2em;
    font-size: 14px;
}
#mainForm{
    display: flex;
    margin: 0 Auto;
    width: 50%;
    height: 1000px;
    background-color: rgba(20, 35, 53, 0.95);
    z-index: 2;
    margin-bottom: 2em;
    border-radius: 8px;
    justify-content: center;
    justify-items: center;
}
/* https://wallpaperaccess.com/full/827467.jpg */

@media screen and (max-width: 700px) {
  #mainForm{
    display: flex;
    margin: 0 Auto;
    width: 80%;
    height: 1000px;
    background-color: rgba(20, 35, 53, 0.95);
    z-index: 2;
    margin-bottom: 2em;
    border-radius: 8px;
    justify-content: center;
    justify-items: center;
  }
    button{
        padding: 0.5em 1em;
        width: 50%;
        text-anchor: inherit;
    }
    h1{
        text-align: center;
        margin: 1em;
    }
}

